body {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

body h1 {
  color: pink;
  font-size: 600px;
}

body .button {
  display: inline-block;
  padding: 0.3em 1.1em;
  border: 2px solid #333;
  border-radius: 3em 0.5em 2em 0.5em/0.4em 2em 0.5em 3em;
  color: #333;
  text-decoration: none;
  text-align: center;
}

body h1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

body div.form {
  margin-bottom: 40px;
}

body div.form input {
  width: 250px;
  border-bottom: #FF1493 1px solid;
}

body table {
  margin: 0 auto;
}

body table thead:after {
  content: "";
  height: 1px;
  width: 100%;
  padding: 10px 0;
  display: block;
}

body table td {
  border-spacing: 8px 0px;
}

body table th.todo-head {
  text-align: left;
  margin-right: 50px;
}

body table td.todo {
  text-align: left;
}

